

    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Objets it√©rables ou conteneurs</span> </b></center>

###  <center> <b> <span style="color:blue;"> Listes </span> </b></center>

In [3]:
x = ['Fatou', 'Fall', 'Aminata', 'Kouna', 'Friday']
print(x)

['Fatou', 'Fall', 'Aminata', 'Kouna', 'Friday']

#### **Exercice 00:** 
>**D√©clarer une liste vide.**

In [5]:
x={}
print(x)

{}

#### **Exercice 01:** 
>**D√©clarer une liste de plus de 5 √©l√©ments.**

In [7]:
y=['Kouna']
print(y)

['Kouna']

#### **Exercice 02:** 
>**Trouver la longueur de votre liste.**

In [8]:
y=['Fatou']
print(len(y))

1

#### **Exercice 03:** 
>**Obtenez le premier √©l√©ment, l'√©l√©ment central et le dernier √©l√©ment de la liste.**

In [6]:
x=['Fatou','Aminata','Ibrahima']
print(x[0])
print(x[1])
print(x[2])

Fatou
Aminata
Ibrahima

#### **Exercice 04:** 
>**D√©clarez une liste appel√©e mixed_data_types, mettez votre (nom, √¢ge, taille, √©tat civil, adresse).**

In [8]:
mixed_data_types={'nom':'Fatou','age':31, 'taille':1.62, '√©tat civil':'Dakar'}
print( mixed_data_types)

{'nom': 'Fatou', 'age': 31, 'taille': 1.62, '√©tat civil': 'Dakar'}

#### **Exercice 05:** 

    1. D√©clarez une variable liste appel√©e it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

    2. Imprimez la liste √† l'aide de print()

    3. Imprimez le nombre d'entreprises dans la liste

    4. Imprimez la premi√®re, la moyenne et la derni√®re entreprise

    5. Imprimez la liste apr√®s avoir modifi√© l'une des entreprises.

    6. Ajout d'une entreprise informatique √† it_companies

    7. Ins√©rer une entreprise informatique au milieu de la liste des entreprises

    8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

    9. Joignez les it_companies avec une cha√Æne '# ; '.

    10. V√©rifier si une certaine entreprise existe dans la liste it_companies.

    11. Trier la liste en utilisant la m√©thode sort()

    12. Inversez la liste par ordre d√©croissant √† l'aide de la m√©thode reverse().

    13. Supprimez les 3 premi√®res entreprises de la liste.

    14. Supprimez les 3 derni√®res entreprises de la liste.

    15. Supprimez la ou les entreprises informatiques du milieu de la liste.

    16. Supprimez la premi√®re entreprise informatique de la liste

    17. Supprimez la ou les entreprises informatiques du milieu de la liste.

    18. Retirer la derni√®re entreprise informatique de la liste

    19. Supprimez toutes les entreprises informatiques de la liste

    20. D√©truire la liste des entreprises informatiques

In [50]:
it_companies=['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
print(it_companies)
print(len(it_companies ))
print(it_companies[0])
print(int(len(it_companies)/2))
print(it_companies[-1])
it_companies[4]='CCBM'
print(it_companies)
it_companies.append('EMD INFORMATIQUE')
print(it_companies)
it_companies.insert(int(len(it_companies)/2),'SOLID INFORMATIQUE')
print(it_companies)
for i in range(9) :

    if it_companies[i] == 'IBM' :
        next()
    else:
        it_companies[i] = it_companies[i].upper()
        
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
7
Facebook
3
Amazon
['Facebook', 'Google', 'Microsoft', 'Apple', 'CCBM', 'Oracle', 'Amazon']
['Facebook', 'Google', 'Microsoft', 'Apple', 'CCBM', 'Oracle', 'Amazon', 'EMD INFORMATIQUE']
['Facebook', 'Google', 'Microsoft', 'Apple', 'SOLID INFORMATIQUE', 'CCBM', 'Oracle', 'Amazon', 'EMD INFORMATIQUE']
['FACEBOOK', 'GOOGLE', 'MICROSOFT', 'APPLE', 'SOLID INFORMATIQUE', 'CCBM', 'ORACLE', 'AMAZON', 'EMD INFORMATIQUE']

#### **Exercice 06:** 
**Joindre les listes suivantes :**
     
         front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
         back_end = ['Node','Express', 'MongoDB']

In [51]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
back_end =  ['Node','Express', 'MongoDB']
front_end + back_end

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

#### **Exercice 07:** 
Voici une liste de 10 √¢ges d'√©tudiants :

         ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
         
 
    1. Trier la liste et trouver l'√¢ge minimum et maximum.
    2. Ajoutez √† nouveau l'√¢ge minimum et l'√¢ge maximum √† la liste.
    3. Trouvez l'√¢ge m√©dian (un √©l√©ment du milieu ou deux √©l√©ments du milieu divis√©s par deux).
    4. Trouvez l'√¢ge moyen (somme de tous les √©l√©ments divis√©e par leur nombre).
    4. Trouver l'intervalle des √¢ges (max moins min)
    5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la m√©thode abs().

In [61]:
 ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)
min=0
max=0

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

###  <center> <b> <span style="color:blue;"> Dictionnaires </span> </b></center>


1. Cr√©er un dictionnaire vide appel√© `dog`
2. Ajoute le nom, la couleur, la race, les pattes, l'√¢ge au dictionnaire dog.
3. Cr√©ez un dictionnaire student et ajoutez le pr√©nom, le nom, le sexe, l'√¢ge, l'√©tat civil, les comp√©tences, le pays, la ville et l'adresse comme cl√©s pour le dictionnaire.
4. Obtenez la longueur du dictionnaire student
5. R√©cup√©rez la valeur des comp√©tences et v√©rifiez le type de donn√©es, il doit s'agir d'une liste.
6. Modifiez les valeurs des comp√©tences en ajoutant une ou deux comp√©tences.
7. Obtenez les cl√©s du dictionnaire sous forme de liste
8. Obtenir les valeurs du dictionnaire sous forme de liste
9. Transformer le dictionnaire en une liste de tuples en utilisant la m√©thode items()
10. Supprimer un des √©l√©ments du dictionnaire
11. Supprimer un des dictionnaires

In [68]:
dog=[]
print(dog)
dog.extend(['nom','couleur','race','pattes','√¢ge'])
print(dog)
student={
    'nom':'Fatou','sexe':'Feminin'
    ,'√¢ge':31, '√©tat civil':'Dakar','comp√©tences ':'Physique'
    ,'pays': 'Senegal', 'ville':'Dakar','adresse':'Front De Terre'}
print(student)
print(len(student))
print(student)

[]
['nom', 'couleur', 'race', 'pattes', '√¢ge']
{'nom': 'Fatou', 'sexe': 'Feminin', '√¢ge': 31, '√©tat civil': 'Dakar', 'comp√©tences ': 'Physique', 'pays': 'Senegal', 'ville': 'Dakar', 'adresse': 'Front De Terre'}
8
{'nom': 'Fatou', 'sexe': 'Feminin', '√¢ge': 31, '√©tat civil': 'Dakar', 'comp√©tences ': 'Physique', 'pays': 'Senegal', 'ville': 'Dakar', 'adresse': 'Front De Terre'}

<center> <b> <span style="color:orange;"> üéâ F√âLICITATIONS ! / CONGRATULATIONS !üéâ </span> </b></center>